<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCShutdown.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PCShutdown.Properties.Settings>
            <setting name="MAXIMUM_ALLOWED_TIME_TO_PLAN_COMMAND" serializeAs="String">
                <value>315360000</value>
            </setting>
            <setting name="DEFAULT_TOOLTIP_DISPLAY_TIME" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="DEFAULT_COMMAND_DELAY_TIME" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAULT_COMMAND" serializeAs="String">
                <value>shutdown</value>
            </setting>
        </PCShutdown.Properties.Settings>
    </applicationSettings>
</configuration>